<% 
    locals.title = locals.context.content.title;
    locals.keywords = locals.context.content.keywords; 
    locals.discription = locals.context.content.discription;
%>
<% include header %>
<% 
    var content = locals.context.content; 
    var categorys = locals.context.categorys; 
    var contentName = {
        'post' : '文章',
        'work' : '作品',
        'plugin' : '插件'
    };
%>
<div class="respond">
    <div class="respond-body article-box">
        <div class="article-panel">
            <div class="article-main">
                <div class="article-cover">
                    <img src="<%- content.themesImage %>">
                </div>
                <div class="article-header">
                    <h1 class="article-title"><%- content.title %></h1>
                    <div class="article-meta">
                        <time class="article-date"><%- locals.viewHelper.dateFormat(content.createdAt, 'yyyy-MM-dd hh:mm') %></time> • 
                        <span>
                            <a href="javascript:;"><%- content.category.name %></a>
                        </span> • 
                        <span><%- content.totalClick %>次浏览</span> • 
                        <a href="javascript:;"><%- content.totalComment %>条评论</a>
                    </div>
                </div>
                <div class="article-content">
                    <%- content.content %>
                </div>
                <div class="article-footer">
                    <span class="tags-links">
                        <% content.tags.forEach(function (tag) { %>
                        <a href="javascript:;"><%- tag.name %></a>
                        <% }) %>
                    </span>
                    <a class="like" href="javascript:;">
                        <span class="heart"></span>
                    </a>
                </div>
            </div>
            <div class="article-related">
            </div>
            <div class="article-comment">
                <div class="respond-title">
                    请输入您要评论的内容...
                </div>
                <form method="get" class="">
                    <div class="row">
                        <div class="col-sm-6 padding-right-10px">
                            <input class="form-control" type="text" placeholder="请输入您的昵称" name="name">
                        </div>
                        <div class="col-sm-6 padding-left-10px">
                            <input class="form-control" type="text" placeholder="请输入您的邮箱" name="email">
                        </div>
                        <div class="col-sm-12">
                            <div class="form-comment">
                                <textarea name="comment" rows="10" tabindex="4" placeholder="请输入您要评论的内容..."></textarea>
                                <div class="comment-smilies">
                                    <img src="/images/smilies/1f600.png">
                                    <img src="/images/smilies/1f606.png">
                                    <img src="/images/smilies/1f612.png">
                                    <img src="/images/smilies/1f613.png">
                                    <img src="/images/smilies/1f614.png">
                                    <img src="/images/smilies/1f602.png">
                                    <img src="/images/smilies/1f618.png">
                                    <img src="/images/smilies/1f621.png">
                                    <img src="/images/smilies/1f627.png">
                                    <img src="/images/smilies/1f609.png">
                                    <img src="/images/smilies/1f60a.png">
                                    <img src="/images/smilies/1f60d.png">
                                    <img src="/images/smilies/1f60e.png">
                                    <img src="/images/smilies/1f61c.png">
                                    <img src="/images/smilies/1f62a.png">
                                    <img src="/images/smilies/1f62d.png">
                                    <img src="/images/smilies/1f605.png">
                                    <img src="/images/smilies/1f339.png">
                                    <img src="/images/smilies/1f44d.png">
                                    <img src="/images/smilies/1f44e.png">
                                </div>
                            </div>
                        </div>
                        
                        <div class="form-input">
                            <button class="btn-submit fr" type="submit">提交留言</button>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="article-sidebar">
            <% if (content.type !== 'post') { %>
            <section>
                <% if (content.previewPath) { %>
                <a href="<%- content.previewPath %>" class="path-btn btn-create" target="_blank"><%- contentName[content.type] %>演示</a>
                <% } %>
                <% if (content.downPath) { %>
                <a href="<%- content.downPath %>" class="path-btn btn-remove"><%- contentName[content.type] %>下载</a>
                <% } %>
                <% if (content.repositoryPath) { %>
                <a href="<%- content.repositoryPath %>" class="path-btn btn-update"><%- contentName[content.type] %>仓库</a>
                <% } %>
            </section>
            <% } %>
            <section>
                <h3><%- contentName[content.type] %>分类</h3>
                <ul>
                    <% categorys.forEach(function (category){ %>
                    <li class="classify-item">
                        <a href="javascript:;"><%- category.name %></a>
                    </li>
                    <% }); %>
                </ul>
            </section>
            <!-- <section>
                <h3>热门文章</h3>
                <ul>
                    <li>
                        <a href="javascript:;">Node.js爬虫讲解(4)</a>
                    </li>
                    <li>
                        <a href="javascript:;">Node.js爬虫讲解(3)</a>
                    </li>
                    <li>
                        <a href="javascript:;">Node.js爬虫讲解(2)</a>
                    </li>
                    <li>
                        <a href="javascript:;">Node.js爬虫讲解(1)</a>
                    </li>
                </ul>
            </section>
            <section>
                <h3>最近文章</h3>
                <ul>
                    <li>
                        <a href="javascript:;">Node.js爬虫讲解(4)</a>
                    </li>
                    <li>
                        <a href="javascript:;">Node.js爬虫讲解(3)</a>
                    </li>
                    <li>
                        <a href="javascript:;">Node.js爬虫讲解(2)</a>
                    </li>
                    <li>
                        <a href="javascript:;">Node.js爬虫讲解(1)</a>
                    </li>
                </ul>
            </section>
            <section>
                <h3>友情链接</h3>
                <ul>
                    <li>
                        <a href="javascript:;">
                            夕酱的个人网站
                        </a>
                    </li>
                    <li>
                        <a href="javascript:;">
                            窝酱的个人网站
                        </a>
                    </li>
                    <li>
                        <a href="javascript:;">
                            中二酱的个人网站
                        </a>
                    </li>
                    <li>
                        <a href="javascript:;">
                            不二酱的个人网站
                        </a>
                    </li>
                </ul>
            </section> -->
        </div>
    </div>
</div>
<% include footer %>