<% include header %>
<div class="respond">
    <div class="respond-body">
        <ul class="row post-box">
            <% for (var i = 0; i < 9; i++) {%>
            <li class="post-list">
                <div class="post-card">
                    <div class="post-thumbnail">
                        <a href="/p/<%- i + 1 %>">
                            <div class="overlay">
                                <span class="icon-screenshot"></span>
                            </div>
                            <div class="post-meta">
                                <h5>1次查阅 <span>0次评论</span></h5>
                                <span>/04</span>
                                <span>/11</span>
                                <span>2015</span>
                            </div>
                            <img src="images/timthumb/test<%- i + 1 %>.jpg" height="200">
                        </a>
                    </div>
                    <div class="post-body">
                        <h2 class="post-title">
                            <a href="/p/<%- i + 1 %>">
                                标题 <%- i + 1 %>
                            </a>
                        </h2>
                    </div>
                    <div class="post-footer">
                        <a href="/p/<%- i + 1 %>" class="fr text-info">继续阅读 »</a>
                        <span class="tags-links">
                            <a href="javascript:;">HTML5</a>
                        </span>
                    </div>
                </div>
            </li>
            <% } %>
            
        </ul>
    </div>
</div>
<% include footer %>