<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="content-type" content="text/html;charset=utf-8">
        <meta name="viewport" content="width=device-width,height=device-height,initial-scale=1.0,maximum-scale=1.0,user-scalable=no">
        <title><%- locals.SITENAME + (locals.title ? ' - ' + locals.title : '') %></title>
        <meta name="description" content="<%- locals.SITENAME + (locals.discription ? ',' + locals.discription : '') %>">
        <meta name="keywords" content="<%- locals.SITENAME + (locals.keywords ? ',' + locals.keywords : '') %>">
        <script src="http://libs.baidu.com/jquery/1.8.3/jquery.min.js"></script>
        <link rel='stylesheet' href='/css/style.css' />
        <link rel='stylesheet' type="text/css" href='/css/font-awesome.min.css' />
        <!-- 百度统计 -->
        <script>
        var _hmt = _hmt || [];
        (function() {
          var hm = document.createElement("script");
          hm.src = "//hm.baidu.com/hm.js?5fd3aa587bb7d406aa4d845ac5230c19";
          var s = document.getElementsByTagName("script")[0]; 
          s.parentNode.insertBefore(hm, s);
        })();
        </script>
        <meta name="baidu_union_verify" content="237dacff9ca5bf64ad76b24b0b901bc6">
    </head>
    <body>
        <div class="wrapper">
            <div class="header-panel row">
                <div class="col-sm-3 logo-panel">
                    <a class="logo" href="/">
                        <%- locals.SITENAME %>
                    </a>
                </div>
                <nav class="nav-bar col-sm-9">
                    <ul class="text-right">
                    <% 
                        var menus = [
                            {name: '首页', url: '/', menu: 'index'},
                            {name: '文章', url: '/post', menu: 'post'},
                            {name: '插件', url: '/plugin', menu: 'plugin'},
                            {name: '作品', url: '/work', menu: 'work'},
                            {name: '留言', url: '/message', menu: 'message'}
                            ];
                        menus.forEach(function (item) {
                    %>
                    <li>
                        <a href="<%= item.url %>" class="<%- item.menu == locals.context.menu ? 'active' : '' %>">
                            <%= item.name %>
                        </a>
                    </li>
                    <%  }); %>
                    </ul>
                </nav>
            </div>
            <% 
                var banners = [
                    {name: '酷鱼网', describe: '12.04 新版本酷鱼网 正式发布', className: 'index-bg', menu: 'index'},
                    {name: '记事本', describe: '人生,从外打破,是压力；从内打破,是成长。', className: 'post-bg', menu: 'post'},
                    {name: '插件库', describe: '学习,从模仿开始。', className: 'plugin-bg', menu: 'plugin'},
                    {name: '作品集', describe: '不会做菜的玩家，不是好程序员。', className: 'work-bg', menu: 'work'},
                    {name: '留言板', describe: '留下你的话语，带走我的问候，欢迎大家没事踩踩。', className: 'message-bg', menu: 'message'}
                    ];
                if (locals.context.isShowBanner === true) {
                    banners.forEach(function (item) {
                        if (item.menu == locals.context.menu) {
            %>
            <div class="banner-panel <%- item.className %>">
                <div class="banner">
                    <div class="explain">
                        <h2><%- item.name %></h2>
                        <div class="banner-describe">
                            <p><%- item.describe %></p>
                        </div>
                    </div>
                </div>
            </div>
            <%      }})}; %>
            <div class="center-panel">